# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [1]:
%pip install feedparser

Collecting feedparser
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     ---------------------------------------- 81.1/81.1 kB 2.2 MB/s eta 0:00:00
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Installing collected packages: sgmllib3k, feedparser
  Running setup.py install for sgmllib3k: started
  Running setup.py install for sgmllib3k: finished with status 'done'
Successfully installed feedparser-6.0.10 sgmllib3k-1.0.0
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: sgmllib3k is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import feedparser

### 1. Use feedparser to parse the following RSS feed URL.

In [3]:
nasa = feedparser.parse('https://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss')

### 2. Obtain a list of components (keys) that are available for this feed.

In [5]:
nasa.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'href', 'status', 'encoding', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [6]:
nasa['feed'].keys()

dict_keys(['language', 'title', 'title_detail', 'subtitle', 'subtitle_detail', 'links', 'link', 'publisher', 'publisher_detail'])

### 4. Extract and print the feed title, subtitle, author, and link.

In [17]:
nasa['feed']

{'language': 'en-us',
 'title': 'Kepler News and Features',
 'title_detail': {'type': 'text/plain',
  'language': 'en',
  'base': 'http://www.nasa.gov/',
  'value': 'Kepler News and Features'},
 'subtitle': 'Kepler News and Features RSS',
 'subtitle_detail': {'type': 'text/html',
  'language': 'en',
  'base': 'http://www.nasa.gov/',
  'value': 'Kepler News and Features RSS'},
 'links': [{'rel': 'alternate',
   'type': 'text/html',
   'href': 'http://www.nasa.gov/'},
  {'rel': 'self',
   'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'type': 'application/atom+xml'}],
 'link': 'http://www.nasa.gov/',
 'publisher': 'brian.dunbar@nasa.gov',
 'publisher_detail': {'email': 'brian.dunbar@nasa.gov'}}

In [19]:
print(nasa['feed']['title'] + '' + nasa['feed']['subtitle'] + '' + nasa['feed']['link'])

Kepler News and FeaturesKepler News and Features RSShttp://www.nasa.gov/

### 5. Count the number of entries that are contained in this RSS feed.

In [21]:
len(nasa['entries'])

10

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [36]:
#nasa['entries']

In [51]:
nasa.entries[0].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'summary', 'summary_detail', 'id', 'guidislink', 'published', 'published_parsed', 'source'])

### 7. Extract a list of entry titles.

In [50]:
titles = [nasa.entries[i].title for i in range(len(nasa.entries))]
print(titles)

["New Deep Learning Method Adds 301 Planets to Kepler's Total Count", 'NASA’s TESS Tunes into an All-sky ‘Symphony’ of Red Giant Stars', 'Planetary Sleuthing Finds Triple-Star World', 'About Half of Sun-Like Stars Could Host Rocky, Potentially Habitable Planets', 'NASA Awards SETI Institute Contract for Planetary Protection Support', 'Gravity Assist: Puffy Planets, Powerful Telescopes, with Knicole Colon', 'Imagining Another Earth', 'NASA’s TESS Enables Breakthrough Study of Perplexing Stellar Pulsations', 'AAS Names 29 NASA-Affiliated Legacy Fellows', 'Kepler-1649c: Earth-Size, Habitable Zone Planet Hides in Plain Sight']

### 8. Calculate the percentage of "Four short links" entry titles.

### 9. Create a Pandas data frame from the feed's entries.

In [48]:
import pandas as pd

In [52]:
df = pd.DataFrame(nasa.entries)
df.head()

,title,title_detail,links,link,summary,summary_detail,id,guidislink,published,published_parsed,source
0,New Deep Learning Method Adds 301 Planets to K...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/new-deep-lear...,Scientists recently added a whopping 301 newly...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/new-deep-lear...,False,"Mon, 22 Nov 2021 20:36 EST","(2021, 11, 23, 1, 36, 0, 1, 327, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
1,NASA’s TESS Tunes into an All-sky ‘Symphony’ o...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/goddard/2021/nasa-...,Using NASA’s Transiting Exoplanet Survey Satel...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/goddard/2021/nasa-...,False,"Wed, 04 Aug 2021 17:00 EDT","(2021, 8, 4, 21, 0, 0, 2, 216, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
2,Planetary Sleuthing Finds Triple-Star World,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/planetary-sle...,"Years after its detection, astronomers have co...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/planetary-sle...,False,"Mon, 11 Jan 2021 13:40 EST","(2021, 1, 11, 18, 40, 0, 0, 11, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
3,"About Half of Sun-Like Stars Could Host Rocky,...","{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/kepler-occurr...,According to new research using data from NASA...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/kepler-occurr...,False,"Thu, 29 Oct 2020 07:00 EDT","(2020, 10, 29, 11, 0, 0, 3, 303, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
4,NASA Awards SETI Institute Contract for Planet...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-awards-...,NASA has awarded the SETI Institute in Mountai...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-awards-...,False,"Fri, 10 Jul 2020 12:04 EDT","(2020, 7, 10, 16, 4, 0, 4, 192, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...

### 10. Count the number of entries per author and sort them in descending order.

In [53]:
# No puedo contar el numero de autores con el url dado. Sim embargo seria haciendolo con un groupby como en el learning.

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [55]:
df['title_length'] = df['title'].apply(len)
df[['title', 'title_length']].sort_values('title_length', ascending=False).head()

                                               title  title_length
3  About Half of Sun-Like Stars Could Host Rocky,...            76
7  NASA’s TESS Enables Breakthrough Study of Perp...            71
5  Gravity Assist: Puffy Planets, Powerful Telesc...            70
4  NASA Awards SETI Institute Contract for Planet...            68
9  Kepler-1649c: Earth-Size, Habitable Zone Plane...            68

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [57]:
phrase_titles = [nasa.entries[i].title for i in range(len(nasa.entries)) if "machine learning" in nasa.entries]
print(phrase_titles)

[]