# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [3]:
%pip install feedparser
import feedparser

Requirement already satisfied: feedparser in c:\users\lorenzo\anaconda3\anaconda\lib\site-packages (6.0.10)
Requirement already satisfied: sgmllib3k in c:\users\lorenzo\anaconda3\anaconda\lib\site-packages (from feedparser) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

### 1. Use feedparser to parse the following RSS feed URL.

In [4]:
nasa = feedparser.parse('https://blogs.nasa.gov/stationreport/feed/')

In [5]:
type(nasa)

feedparser.util.FeedParserDict

### 2. Obtain a list of components (keys) that are available for this feed.

In [6]:
nasa.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'etag', 'updated', 'updated_parsed', 'href', 'status', 'encoding', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [7]:
nasa['feed'].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'subtitle', 'subtitle_detail', 'updated', 'updated_parsed', 'language', 'sy_updateperiod', 'sy_updatefrequency', 'generator_detail', 'generator'])

In [8]:
nasa['entries'].keys()   # No entiendo porque me da las keys de fees y de entries no.

AttributeError: 'list' object has no attribute 'keys'

### 4. Extract and print the feed title, subtitle, author, and link.

In [9]:
nasafeed = nasa['feed']

In [10]:
nasafeed['updated_parsed'] #exploración

time.struct_time(tm_year=2023, tm_mon=4, tm_mday=27, tm_hour=18, tm_min=47, tm_sec=12, tm_wday=3, tm_yday=117, tm_isdst=0)

In [11]:
nasafeed['title'],nasafeed['subtitle'],nasafeed['link'] # El autor no lo he encontrado.

('ISS On-Orbit Status Report', '', 'https://blogs.nasa.gov/stationreport')

### 5. Count the number of entries that are contained in this RSS feed.

In [12]:
nasaentries = nasa['entries']
len(nasaentries)

10

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [13]:

nasaentries[0].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'authors', 'author', 'author_detail', 'published', 'published_parsed', 'tags', 'id', 'guidislink', 'summary', 'summary_detail'])

### 7. Extract a list of entry titles.

In [14]:
entries = []
for elemento in nasaentries:
    entries.append(elemento['title'])
print(entries)

['ISS Daily Summary Report – 4/26/2023', 'ISS Daily Summary Report – 4/25/2023', 'ISS Daily Summary Report – 4/24/2023', 'ISS Daily Summary Report – 4/21/2023', 'ISS Daily Summary Report – 4/20/2023', 'ISS Daily Summary Report – 4/19/2023', 'ISS Daily Summary Report – 4/18/2023', 'ISS Daily Summary Report – 4/17/2023', 'ISS Daily Summary Report – 4/14/2023', 'ISS Daily Summary Report – 4/13/2023']

### 8. Calculate the percentage of "Four short links" entry titles.

In [15]:
import pandas as pd
df= pd.DataFrame(nasa['entries'])
#todos los links parecen ser los 'largos', por otro lado nose como hacer en una formula la distinción entre link normal y link corto.

### 9. Create a Pandas data frame from the feed's entries.

In [16]:
df

,title,title_detail,links,link,authors,author,author_detail,published,published_parsed,tags,id,guidislink,summary,summary_detail
0,ISS Daily Summary Report – 4/26/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/2...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Wed, 26 Apr 2023 16:00:02 +0000","(2023, 4, 26, 16, 0, 2, 2, 116, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6994,False,Payloads: Actiwatch-Plus: Actiwatch devices we...,"{'type': 'text/html', 'language': None, 'base'..."
1,ISS Daily Summary Report – 4/25/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/2...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Tue, 25 Apr 2023 16:00:33 +0000","(2023, 4, 25, 16, 0, 33, 1, 115, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6992,False,Payloads: JEM Water Recovery System (JWRS): Tr...,"{'type': 'text/html', 'language': None, 'base'..."
2,ISS Daily Summary Report – 4/24/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/2...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Mon, 24 Apr 2023 16:00:20 +0000","(2023, 4, 24, 16, 0, 20, 0, 114, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6990,False,Payloads: NanoRacks CubeSats Deployer-25 (NRCS...,"{'type': 'text/html', 'language': None, 'base'..."
3,ISS Daily Summary Report – 4/21/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/2...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Fri, 21 Apr 2023 16:00:44 +0000","(2023, 4, 21, 16, 0, 44, 4, 111, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6988,False,Payloads: CapiSorb Visible System (CVS): Exper...,"{'type': 'text/html', 'language': None, 'base'..."
4,ISS Daily Summary Report – 4/20/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/2...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Thu, 20 Apr 2023 16:00:15 +0000","(2023, 4, 20, 16, 0, 15, 3, 110, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6986,False,Payloads: CapiSorb Visible System (CVS): The C...,"{'type': 'text/html', 'language': None, 'base'..."
5,ISS Daily Summary Report – 4/19/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/1...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Wed, 19 Apr 2023 16:00:12 +0000","(2023, 4, 19, 16, 0, 12, 2, 109, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6984,False,Payloads: AstroPi: A 5mm Camera Lens was mount...,"{'type': 'text/html', 'language': None, 'base'..."
6,ISS Daily Summary Report – 4/18/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/1...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Tue, 18 Apr 2023 16:00:44 +0000","(2023, 4, 18, 16, 0, 44, 1, 108, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6981,False,Payloads: Investigating Structure and Function...,"{'type': 'text/html', 'language': None, 'base'..."
7,ISS Daily Summary Report – 4/17/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/1...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Mon, 17 Apr 2023 16:00:28 +0000","(2023, 4, 17, 16, 0, 28, 0, 107, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6979,False,Payloads: Electromagnetic Levitator (EML): Arg...,"{'type': 'text/html', 'language': None, 'base'..."
8,ISS Daily Summary Report – 4/14/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/1...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Fri, 14 Apr 2023 16:00:48 +0000","(2023, 4, 14, 16, 0, 48, 4, 104, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6977,False,Payloads: Advanced Space Experiment Processor ...,"{'type': 'text/html', 'language': None, 'base'..."
9,ISS Daily Summary Report – 4/13/2023,"{'type': 'text/plain', 'language': None, 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://blogs.nasa.gov/stationreport/2023/04/1...,[{'name': 'Bill Keeter'}],Bill Keeter,{'name': 'Bill Keeter'},"Thu, 13 Apr 2023 16:00:54 +0000","(2023, 4, 13, 16, 0, 54, 3, 103, 0)","[{'term': '2023', 'scheme': None, 'label': Non...",https://blogs.nasa.gov/stationreport/?p=6975,False,Payloads: Human Research Program (HRP) Sample ...,"{'type': 'text/html', 'language': None, 'base'..."

### 10. Count the number of entries per author and sort them in descending order.

In [ ]:
#No he encontrado autors en entries

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [21]:
df['title_len'] = df['title'].apply(len)
df_title_len = df.loc[:, ['title', 'title_len']]
df_title_len

                                  title  title_len
0  ISS Daily Summary Report – 4/26/2023         36
1  ISS Daily Summary Report – 4/25/2023         36
2  ISS Daily Summary Report – 4/24/2023         36
3  ISS Daily Summary Report – 4/21/2023         36
4  ISS Daily Summary Report – 4/20/2023         36
5  ISS Daily Summary Report – 4/19/2023         36
6  ISS Daily Summary Report – 4/18/2023         36
7  ISS Daily Summary Report – 4/17/2023         36
8  ISS Daily Summary Report – 4/14/2023         36
9  ISS Daily Summary Report – 4/13/2023         36

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [92]:
list= []
for k in nasa['entries']:
    for e in 'summary':
        if "machine learning" in e:
            list.append(e)
list

[]