# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [2]:

import feedparser

### 1. Use feedparser to parse the following RSS feed URL.

In [3]:
nasa = feedparser.parse('https://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss')

### 2. Obtain a list of components (keys) that are available for this feed.

In [4]:
nasa.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'href', 'status', 'encoding', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [5]:
nasa["feed"].keys()

dict_keys(['language', 'title', 'title_detail', 'subtitle', 'subtitle_detail', 'links', 'link', 'publisher', 'publisher_detail'])

### 4. Extract and print the feed title, subtitle, author, and link.

In [9]:
for i in ["title", "subtitle", "link"]: #"author" no contiene autor
    print(nasa["feed"][i])

Kepler News and Features
Kepler News and Features RSS
http://www.nasa.gov/

### 5. Count the number of entries that are contained in this RSS feed.

In [11]:
print(len(nasa["entries"]))

10

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [14]:
nasa["entries"][2].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'summary', 'summary_detail', 'id', 'guidislink', 'published', 'published_parsed', 'source'])

### 7. Extract a list of entry titles.

In [15]:
for i in nasa['entries']:
    print(i['title'])

New Deep Learning Method Adds 301 Planets to Kepler's Total Count
NASA’s TESS Tunes into an All-sky ‘Symphony’ of Red Giant Stars
Planetary Sleuthing Finds Triple-Star World
About Half of Sun-Like Stars Could Host Rocky, Potentially Habitable Planets
NASA Awards SETI Institute Contract for Planetary Protection Support
Gravity Assist: Puffy Planets, Powerful Telescopes, with Knicole Colon
Imagining Another Earth
NASA’s TESS Enables Breakthrough Study of Perplexing Stellar Pulsations
AAS Names 29 NASA-Affiliated Legacy Fellows
Kepler-1649c: Earth-Size, Habitable Zone Planet Hides in Plain Sight

### 8. Calculate the percentage of "Four short links" entry titles.

In [ ]:
#entiendo que esto tenía sentido con el link caído?

### 9. Create a Pandas data frame from the feed's entries.

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame(nasa['entries'])
df.head()

,title,title_detail,links,link,summary,summary_detail,id,guidislink,published,published_parsed,source
0,New Deep Learning Method Adds 301 Planets to K...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/new-deep-lear...,Scientists recently added a whopping 301 newly...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/new-deep-lear...,False,"Mon, 22 Nov 2021 20:36 EST","(2021, 11, 23, 1, 36, 0, 1, 327, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
1,NASA’s TESS Tunes into an All-sky ‘Symphony’ o...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/goddard/2021/nasa-...,Using NASA’s Transiting Exoplanet Survey Satel...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/goddard/2021/nasa-...,False,"Wed, 04 Aug 2021 17:00 EDT","(2021, 8, 4, 21, 0, 0, 2, 216, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
2,Planetary Sleuthing Finds Triple-Star World,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/planetary-sle...,"Years after its detection, astronomers have co...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/planetary-sle...,False,"Mon, 11 Jan 2021 13:40 EST","(2021, 1, 11, 18, 40, 0, 0, 11, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
3,"About Half of Sun-Like Stars Could Host Rocky,...","{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/kepler-occurr...,According to new research using data from NASA...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/kepler-occurr...,False,"Thu, 29 Oct 2020 07:00 EDT","(2020, 10, 29, 11, 0, 0, 3, 303, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
4,NASA Awards SETI Institute Contract for Planet...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-awards-...,NASA has awarded the SETI Institute in Mountai...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-awards-...,False,"Fri, 10 Jul 2020 12:04 EDT","(2020, 7, 10, 16, 4, 0, 4, 192, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...

### 10. Count the number of entries per author and sort them in descending order.

In [20]:
#nasa["author"].value_counts() no tira

KeyError: 'author'

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [22]:
df['title_length'] = df['title'].apply(lambda x : len(x))
new = df[['title','title_length']]
new = new.sort_values(by='title_length',ascending=False)
new.head()  #no tiene autor

                                               title  title_length
3  About Half of Sun-Like Stars Could Host Rocky,...            76
7  NASA’s TESS Enables Breakthrough Study of Perp...            71
5  Gravity Assist: Puffy Planets, Powerful Telesc...            70
4  NASA Awards SETI Institute Contract for Planet...            68
9  Kepler-1649c: Earth-Size, Habitable Zone Plane...            68

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."