# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [2]:
%pip install feedparser

import feedparser

Collecting feedparser
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     ---------------------------------------- 81.1/81.1 kB 2.3 MB/s eta 0:00:00
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sgmllib3k
  Building wheel for sgmllib3k (setup.py): started
  Building wheel for sgmllib3k (setup.py): finished with status 'done'
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6061 sha256=fb534e6b26e03e4ef43524b3640959f545f46be139a5bfc57a9dfb765eda5e41
  Stored in directory: c:\users\pacot\appdata\local\pip\cache\wheels\3b\24\68\f82c1fe16fe6cc7c6f9f67fe4bbf2a4ce527dea6b14a4b34ee
Successfully built sgmllib3k
Installing collected packages: sgmllib3k, feedparser
Successfully installed feedparser-6.0.10 sgmllib3k-1.0.0
Note: you may need to restart the kernel to use updated packages.

### 1. Use feedparser to parse the following RSS feed URL.

In [3]:
nasa = feedparser.parse('https://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss')

### 2. Obtain a list of components (keys) that are available for this feed.

In [6]:
k = nasa.keys()
print (k)

dict_keys(['bozo', 'entries', 'feed', 'headers', 'href', 'status', 'encoding', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [7]:
f = nasa['feed'].keys()
print(f)

dict_keys(['language', 'title', 'title_detail', 'subtitle', 'subtitle_detail', 'links', 'link', 'publisher', 'publisher_detail'])

### 4. Extract and print the feed title, subtitle, author, and link.

In [10]:
print('The title is "' + nasa['feed']['title'] + '" and the subtitle is "' + nasa['feed']['subtitle'] + '" and finally the link is ' + nasa['feed']['link'])

The title is "Kepler News and Features" and the subtitle is "Kepler News and Features RSS" and finally the link is http://www.nasa.gov/

### 5. Count the number of entries that are contained in this RSS feed.

In [13]:
len(nasa['entries'])

10

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [15]:

c = nasa['entries'][0].keys()
print(c)

dict_keys(['title', 'title_detail', 'links', 'link', 'summary', 'summary_detail', 'id', 'guidislink', 'published', 'published_parsed', 'source'])

In [18]:
nasa['entries']

[{'title': "New Deep Learning Method Adds 301 Planets to Kepler's Total Count",
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': "New Deep Learning Method Adds 301 Planets to Kepler's Total Count"},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/feature/ames/new-deep-learning-method-adds-301-planets-to-keplers-total-count'},
   {'length': '7380534',
    'type': 'image/gif',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/exoplanet_banner_1.gif?itok=L3rCP01p',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/feature/ames/new-deep-learning-method-adds-301-planets-to-keplers-total-count',
  'summary': 'Scientists recently added a whopping 301 newly confirmed exoplanets to the total exoplanet tally.',
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'Scientists recently added a whopping 301 newly confirmed exoplanets to the total exoplanet tally.'},
  'id': 'http://www.nasa.gov/feature/ames/new-deep-learning-method-adds-301-planets-to-keplers-total-count',
  'guidislink': False,
  'published': 'Mon, 22 Nov 2021 20:36 EST',
  'published_parsed': time.struct_time(tm_year=2021, tm_mon=11, tm_mday=23, tm_hour=1, tm_min=36, tm_sec=0, tm_wday=1, tm_yday=327, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}},
 {'title': 'NASA’s TESS Tunes into an All-sky ‘Symphony’ of Red Giant Stars',
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'NASA’s TESS Tunes into an All-sky ‘Symphony’ of Red Giant Stars'},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/feature/goddard/2021/nasa-s-tess-tunes-into-an-all-sky-symphony-of-red-giant-stars'},
   {'length': '11629231',
    'type': 'image/png',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/tess_red_giant_composite.png?itok=MNOyrVZL',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/feature/goddard/2021/nasa-s-tess-tunes-into-an-all-sky-symphony-of-red-giant-stars',
  'summary': 'Using NASA’s Transiting Exoplanet Survey Satellite, astronomers have identified a vast collection of pulsating red giant stars that will help us explore our galactic neighborhood.',
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'Using NASA’s Transiting Exoplanet Survey Satellite, astronomers have identified a vast collection of pulsating red giant stars that will help us explore our galactic neighborhood.'},
  'id': 'http://www.nasa.gov/feature/goddard/2021/nasa-s-tess-tunes-into-an-all-sky-symphony-of-red-giant-stars',
  'guidislink': False,
  'published': 'Wed, 04 Aug 2021 17:00 EDT',
  'published_parsed': time.struct_time(tm_year=2021, tm_mon=8, tm_mday=4, tm_hour=21, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=216, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}},
 {'title': 'Planetary Sleuthing Finds Triple-Star World',
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'Planetary Sleuthing Finds Triple-Star World'},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/feature/ames/planetary-sleuthing-finds-triple-star-world'},
   {'length': '670317',
    'type': 'image/jpeg',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/koi_5_art.jpg?itok=jXWOMzRg',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/feature/ames/planetary-sleuthing-finds-triple-star-world',
  'summary': 'Years after its detection, astronomers have confirmed a planet called KOI-5Ab orbiting in a triple-star system with a skewed configuration.',
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'Years after its detection, astronomers have confirmed a planet called KOI-5Ab orbiting in a triple-star system with a skewed configuration.'},
  'id': 'http://www.nasa.gov/feature/ames/planetary-sleuthing-finds-triple-star-world',
  'guidislink': False,
  'published': 'Mon, 11 Jan 2021 13:40 EST',
  'published_parsed': time.struct_time(tm_year=2021, tm_mon=1, tm_mday=11, tm_hour=18, tm_min=40, tm_sec=0, tm_wday=0, tm_yday=11, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}},
 {'title': 'About Half of Sun-Like Stars Could Host Rocky, Potentially Habitable Planets',
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'About Half of Sun-Like Stars Could Host Rocky, Potentially Habitable Planets'},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/feature/ames/kepler-occurrence-rate'},
   {'length': '3778841',
    'type': 'image/jpeg',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/kepler_1_1.jpg?itok=mLm5RUff',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/feature/ames/kepler-occurrence-rate',
  'summary': 'According to new research using data from NASA’s retired planet-hunting mission, the Kepler space telescope, about half the stars similar in temperature to our Sun could have a rocky planet capable of supporting liquid water on its surface.',
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'According to new research using data from NASA’s retired planet-hunting mission, the Kepler space telescope, about half the stars similar in temperature to our Sun could have a rocky planet capable of supporting liquid water on its surface.'},
  'id': 'http://www.nasa.gov/feature/ames/kepler-occurrence-rate',
  'guidislink': False,
  'published': 'Thu, 29 Oct 2020 07:00 EDT',
  'published_parsed': time.struct_time(tm_year=2020, tm_mon=10, tm_mday=29, tm_hour=11, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=303, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}},
 {'title': 'NASA Awards SETI Institute Contract for Planetary Protection Support',
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'NASA Awards SETI Institute Contract for Planetary Protection Support'},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/press-release/nasa-awards-seti-institute-contract-for-planetary-protection-support'},
   {'length': '2527203',
    'type': 'image/jpeg',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/0501191516-amy_lab_sampling.jpg?itok=XbOXLQeE',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/press-release/nasa-awards-seti-institute-contract-for-planetary-protection-support',
  'summary': 'NASA has awarded the SETI Institute in Mountain View, California, a contract to support all phases of current and future planetary protection missions to ensure compliance with planetary protection standards.',
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'NASA has awarded the SETI Institute in Mountain View, California, a contract to support all phases of current and future planetary protection missions to ensure compliance with planetary protection standards.'},
  'id': 'http://www.nasa.gov/press-release/nasa-awards-seti-institute-contract-for-planetary-protection-support',
  'guidislink': False,
  'published': 'Fri, 10 Jul 2020 12:04 EDT',
  'published_parsed': time.struct_time(tm_year=2020, tm_mon=7, tm_mday=10, tm_hour=16, tm_min=4, tm_sec=0, tm_wday=4, tm_yday=192, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}},
 {'title': 'Gravity Assist: Puffy Planets, Powerful Telescopes, with Knicole Colon',
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'Gravity Assist: Puffy Planets, Powerful Telescopes, with Knicole Colon'},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/mediacast/gravity-assist-puffy-planets-powerful-telescopes-with-knicole-colon'},
   {'length': '907941',
    'type': 'image/jpeg',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/gravity-assist-logo.jpg?itok=EHoMdpdd',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/mediacast/gravity-assist-puffy-planets-powerful-telescopes-with-knicole-colon',
  'summary': 'NASA astrophysicist Knicole Colon describes her work on the Kepler, Hubble, TESS and Webb missions, and takes us on a tour of some of her favorite planets.',
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'NASA astrophysicist Knicole Colon describes her work on the Kepler, Hubble, TESS and Webb missions, and takes us on a tour of some of her favorite planets.'},
  'id': 'http://www.nasa.gov/mediacast/gravity-assist-puffy-planets-powerful-telescopes-with-knicole-colon',
  'guidislink': False,
  'published': 'Fri, 12 Jun 2020 09:01 EDT',
  'published_parsed': time.struct_time(tm_year=2020, tm_mon=6, tm_mday=12, tm_hour=13, tm_min=1, tm_sec=0, tm_wday=4, tm_yday=164, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}},
 {'title': 'Imagining Another Earth',
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'Imagining Another Earth'},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/image-feature/imagining-another-earth'},
   {'length': '563172',
    'type': 'image/jpeg',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/pia23689.jpg?itok=n0lj0bju',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/image-feature/imagining-another-earth',
  'summary': "This artist's concept shows exoplanet Kepler-1649c orbiting around its host red dwarf star.",
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': "This artist's concept shows exoplanet Kepler-1649c orbiting around its host red dwarf star."},
  'id': 'http://www.nasa.gov/image-feature/imagining-another-earth',
  'guidislink': False,
  'published': 'Thu, 28 May 2020 10:27 EDT',
  'published_parsed': time.struct_time(tm_year=2020, tm_mon=5, tm_mday=28, tm_hour=14, tm_min=27, tm_sec=0, tm_wday=3, tm_yday=149, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}},
 {'title': 'NASA’s TESS Enables Breakthrough Study of Perplexing Stellar Pulsations',
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'NASA’s TESS Enables Breakthrough Study of Perplexing Stellar Pulsations'},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/feature/goddard/2020/nasa-s-tess-enables-breakthrough-study-of-perplexing-stellar-pulsations'},
   {'length': '6609190',
    'type': 'image/gif',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/full_sequence_gif_.gif?itok=xCqhU6ID',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/feature/goddard/2020/nasa-s-tess-enables-breakthrough-study-of-perplexing-stellar-pulsations',
  'summary': 'Astronomers have detected elusive pulsation patterns in dozens of young, rapidly rotating stars thanks to data from NASA’s Transiting Exoplanet Survey Satellite (TESS).',
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'Astronomers have detected elusive pulsation patterns in dozens of young, rapidly rotating stars thanks to data from NASA’s Transiting Exoplanet Survey Satellite (TESS).'},
  'id': 'http://www.nasa.gov/feature/goddard/2020/nasa-s-tess-enables-breakthrough-study-of-perplexing-stellar-pulsations',
  'guidislink': False,
  'published': 'Wed, 13 May 2020 11:00 EDT',
  'published_parsed': time.struct_time(tm_year=2020, tm_mon=5, tm_mday=13, tm_hour=15, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=134, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}},
 {'title': 'AAS Names 29 NASA-Affiliated Legacy Fellows',
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'AAS Names 29 NASA-Affiliated Legacy Fellows'},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/feature/aas-names-29-nasa-affiliated-legacy-fellows'},
   {'length': '5053604',
    'type': 'image/jpeg',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/crab.jpg?itok=SsqdOZGd',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/feature/aas-names-29-nasa-affiliated-legacy-fellows',
  'summary': 'Twenty-nine scientists working at or affiliated with NASA have been named Fellows of the American Astronomical Society (AAS), the major organization of professional astronomers in North America.',
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'Twenty-nine scientists working at or affiliated with NASA have been named Fellows of the American Astronomical Society (AAS), the major organization of professional astronomers in North America.'},
  'id': 'http://www.nasa.gov/feature/aas-names-29-nasa-affiliated-legacy-fellows',
  'guidislink': False,
  'published': 'Thu, 30 Apr 2020 09:00 EDT',
  'published_parsed': time.struct_time(tm_year=2020, tm_mon=4, tm_mday=30, tm_hour=13, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=121, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}},
 {'title': 'Kepler-1649c: Earth-Size, Habitable Zone Planet Hides in Plain Sight',
  'title_detail': {'type': 'text/plain',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': 'Kepler-1649c: Earth-Size, Habitable Zone Planet Hides in Plain Sight'},
  'links': [{'rel': 'alternate',
    'type': 'text/html',
    'href': 'http://www.nasa.gov/image-feature/kepler-1649c-earth-size-habitable-zone-planet-hides-in-plain-sight'},
   {'length': '3631376',
    'type': 'image/jpeg',
    'href': 'http://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/product_2.jpg?itok=ncVFZrIG',
    'rel': 'enclosure'}],
  'link': 'http://www.nasa.gov/image-feature/kepler-1649c-earth-size-habitable-zone-planet-hides-in-plain-sight',
  'summary': "This artist's illustration shows what Kepler-1649c could look like from its surface.",
  'summary_detail': {'type': 'text/html',
   'language': 'en',
   'base': 'http://www.nasa.gov/',
   'value': "This artist's illustration shows what Kepler-1649c could look like from its surface."},
  'id': 'http://www.nasa.gov/image-feature/kepler-1649c-earth-size-habitable-zone-planet-hides-in-plain-sight',
  'guidislink': False,
  'published': 'Thu, 16 Apr 2020 02:13 EDT',
  'published_parsed': time.struct_time(tm_year=2020, tm_mon=4, tm_mday=16, tm_hour=6, tm_min=13, tm_sec=0, tm_wday=3, tm_yday=107, tm_isdst=0),
  'source': {'href': 'http://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss',
   'title': 'Kepler News and Features'}}]

### 7. Extract a list of entry titles.

In [21]:
titles = []
for i in range(len(nasa['entries'])):
    titles.append(nasa['entries'][i]['title'])
print(titles)

["New Deep Learning Method Adds 301 Planets to Kepler's Total Count", 'NASA’s TESS Tunes into an All-sky ‘Symphony’ of Red Giant Stars', 'Planetary Sleuthing Finds Triple-Star World', 'About Half of Sun-Like Stars Could Host Rocky, Potentially Habitable Planets', 'NASA Awards SETI Institute Contract for Planetary Protection Support', 'Gravity Assist: Puffy Planets, Powerful Telescopes, with Knicole Colon', 'Imagining Another Earth', 'NASA’s TESS Enables Breakthrough Study of Perplexing Stellar Pulsations', 'AAS Names 29 NASA-Affiliated Legacy Fellows', 'Kepler-1649c: Earth-Size, Habitable Zone Planet Hides in Plain Sight']

### 8. Calculate the percentage of "Four short links" entry titles.

### 9. Create a Pandas data frame from the feed's entries.

In [22]:
import pandas as pd

df = pd.DataFrame(nasa.entries)
df.head()

,title,title_detail,links,link,summary,summary_detail,id,guidislink,published,published_parsed,source
0,New Deep Learning Method Adds 301 Planets to K...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/new-deep-lear...,Scientists recently added a whopping 301 newly...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/new-deep-lear...,False,"Mon, 22 Nov 2021 20:36 EST","(2021, 11, 23, 1, 36, 0, 1, 327, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
1,NASA’s TESS Tunes into an All-sky ‘Symphony’ o...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/goddard/2021/nasa-...,Using NASA’s Transiting Exoplanet Survey Satel...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/goddard/2021/nasa-...,False,"Wed, 04 Aug 2021 17:00 EDT","(2021, 8, 4, 21, 0, 0, 2, 216, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
2,Planetary Sleuthing Finds Triple-Star World,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/planetary-sle...,"Years after its detection, astronomers have co...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/planetary-sle...,False,"Mon, 11 Jan 2021 13:40 EST","(2021, 1, 11, 18, 40, 0, 0, 11, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
3,"About Half of Sun-Like Stars Could Host Rocky,...","{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/kepler-occurr...,According to new research using data from NASA...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/kepler-occurr...,False,"Thu, 29 Oct 2020 07:00 EDT","(2020, 10, 29, 11, 0, 0, 3, 303, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
4,NASA Awards SETI Institute Contract for Planet...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-awards-...,NASA has awarded the SETI Institute in Mountai...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-awards-...,False,"Fri, 10 Jul 2020 12:04 EDT","(2020, 7, 10, 16, 4, 0, 4, 192, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...

### 10. Count the number of entries per author and sort them in descending order.

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [23]:
df['title_length'] = df['title'].apply(len)
df[['title', 'title_length']].sort_values('title_length', ascending=False).head()

                                               title  title_length
3  About Half of Sun-Like Stars Could Host Rocky,...            76
7  NASA’s TESS Enables Breakthrough Study of Perp...            71
5  Gravity Assist: Puffy Planets, Powerful Telesc...            70
4  NASA Awards SETI Institute Contract for Planet...            68
9  Kepler-1649c: Earth-Size, Habitable Zone Plane...            68

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [24]:
phrase_titles = [nasa.entries[i].title for i in range(len(nasa.entries)) if 'machine learning' in nasa.entries]
print (phrase_titles)

[]