# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [1]:
import feedparser

### 1. Use feedparser to parse the following RSS feed URL.

In [2]:
nasa_url = 'https://www.nasa.gov/content/nasa-rss-feeds'
nasa = feedparser.parse(nasa_url)

### 2. Obtain a list of components (keys) that are available for this feed.

In [3]:
nasa.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'etag', 'updated', 'updated_parsed', 'href', 'status', 'encoding', 'bozo_exception', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [4]:
nasa['feed'].keys()

dict_keys(['html', 'meta', 'links', 'script', 'summary'])

### 4. Extract and print the feed title, subtitle, author, and link.

In [5]:
#primero cojo el link de un feed concreto y repito el proceso

nasa_feed = feedparser.parse('https://www.nasa.gov/rss/dyn/breaking_news.rss')
nasa_feed.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'href', 'status', 'encoding', 'version', 'namespaces'])

In [6]:
nasa_feed['entries'][0].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'summary', 'summary_detail', 'id', 'guidislink', 'published', 'published_parsed', 'source', 'dc_identifier'])

In [7]:
f = nasa_feed['entries'][0]

In [8]:
title = f['title']
subtitle = f['summary']
author = f["title_detail"]["base"]
link = f['link']

In [9]:
print(f'title: {title}')
print(f'subtitle: {subtitle}')
print(f'author: {author}')
print(f'link: {link}')

title: NASA Sets Coverage for Dragon Port Relocation on Space Station
subtitle: Four crew members aboard the International Space Station will relocate their SpaceX Dragon spacecraft’s docking port Saturday, May 6, to make way for the arrival of an upcoming cargo spacecraft.
author: http://www.nasa.gov/
link: http://www.nasa.gov/press-release/nasa-sets-coverage-for-dragon-port-relocation-on-space-station

### 5. Count the number of entries that are contained in this RSS feed.

In [10]:
len(nasa_feed['entries'])

10

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [11]:
entry_list = list(nasa_feed['entries'][0].keys())

In [12]:
entry_list

['title',
 'title_detail',
 'links',
 'link',
 'summary',
 'summary_detail',
 'id',
 'guidislink',
 'published',
 'published_parsed',
 'source',
 'dc_identifier']

### 7. Extract a list of entry titles.

In [17]:
ent = nasa_feed['entries']

In [18]:
diks = []

for dik in ent:
    diks.append(dik['title'])

In [19]:
diks

['NASA Sets Coverage for Dragon Port Relocation on Space Station',
 'Entrepreneurs to Pitch Ideas for Future in NASA ‘Space Tank’',
 'NASA Updates Coverage of Roscosmos Spacewalks at Space Station',
 'NASA Sets Coverage for Czech Republic Artemis Accords Signing Ceremony',
 'NASA Experts Available for Interviews About Sea and Sky Campaign',
 'NASA Announces Winners of 2023 Human Exploration Rover Challenge',
 'NASA Selects 12 Companies to Collaborate on Key Technology Development',
 'NASA Announces Student Winners of Power to Explore Challenge',
 'NASA, Rocket Lab Set Coverage for Tropical Cyclones Mission',
 'VP Harris, South Korea President Yoon Suk Yeol to Visit NASA Goddard']

### 8. Calculate the percentage of "Four short links" entry titles.

In [ ]:
#wtf

### 9. Create a Pandas data frame from the feed's entries.

In [20]:
import pandas as pd

In [22]:
df = pd.DataFrame(ent)
df.head()

,title,title_detail,links,link,summary,summary_detail,id,guidislink,published,published_parsed,source,dc_identifier
0,NASA Sets Coverage for Dragon Port Relocation ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-sets-co...,Four crew members aboard the International Spa...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-sets-co...,False,"Mon, 01 May 2023 15:06 EDT","(2023, 5, 1, 19, 6, 0, 0, 121, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486960
1,Entrepreneurs to Pitch Ideas for Future in NAS...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/entrepreneur...,College students in NASA’s Minority University...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/entrepreneur...,False,"Thu, 27 Apr 2023 14:02 EDT","(2023, 4, 27, 18, 2, 0, 3, 117, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486922
2,NASA Updates Coverage of Roscosmos Spacewalks ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-updates...,NASA will provide live coverage as two Roscosm...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-updates...,False,"Wed, 26 Apr 2023 14:59 EDT","(2023, 4, 26, 18, 59, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486897
3,NASA Sets Coverage for Czech Republic Artemis ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-sets-co...,The Czech Republic is expected to sign the Art...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-sets-co...,False,"Wed, 26 Apr 2023 14:49 EDT","(2023, 4, 26, 18, 49, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486898
4,NASA Experts Available for Interviews About Se...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-experts...,"This spring, NASA’s S-MODE (Sub-Mesoscale Ocea...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-experts...,False,"Wed, 26 Apr 2023 14:09 EDT","(2023, 4, 26, 18, 9, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486894

### 10. Count the number of entries per author and sort them in descending order.

In [ ]:
#wtf x2

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [36]:


df['title_count'] = df['title'].apply(lambda x: len(x))
df.head()

,title,title_detail,links,link,summary,summary_detail,id,guidislink,published,published_parsed,source,dc_identifier,title_count
0,NASA Sets Coverage for Dragon Port Relocation ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-sets-co...,Four crew members aboard the International Spa...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-sets-co...,False,"Mon, 01 May 2023 15:06 EDT","(2023, 5, 1, 19, 6, 0, 0, 121, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486960,62
1,Entrepreneurs to Pitch Ideas for Future in NAS...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/entrepreneur...,College students in NASA’s Minority University...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/entrepreneur...,False,"Thu, 27 Apr 2023 14:02 EDT","(2023, 4, 27, 18, 2, 0, 3, 117, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486922,60
2,NASA Updates Coverage of Roscosmos Spacewalks ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-updates...,NASA will provide live coverage as two Roscosm...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-updates...,False,"Wed, 26 Apr 2023 14:59 EDT","(2023, 4, 26, 18, 59, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486897,62
3,NASA Sets Coverage for Czech Republic Artemis ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-sets-co...,The Czech Republic is expected to sign the Art...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-sets-co...,False,"Wed, 26 Apr 2023 14:49 EDT","(2023, 4, 26, 18, 49, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486898,70
4,NASA Experts Available for Interviews About Se...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/nasa-experts...,"This spring, NASA’s S-MODE (Sub-Mesoscale Ocea...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/nasa-experts...,False,"Wed, 26 Apr 2023 14:09 EDT","(2023, 4, 26, 18, 9, 0, 2, 116, 0)",{'href': 'http://www.nasa.gov/rss/dyn/breaking...,486894,64

In [37]:
df_v2 = df[['title', 'summary','title_count']]

In [40]:
df_v2 = df_v2.sort_values('title_count',ascending = False)
df_v2.head()

,title,summary,title_count
3,NASA Sets Coverage for Czech Republic Artemis ...,The Czech Republic is expected to sign the Art...,70
6,NASA Selects 12 Companies to Collaborate on Ke...,NASA has selected 16 proposals from 12 compani...,70
9,"VP Harris, South Korea President Yoon Suk Yeol...",Vice President Kamala Harris and Republic of K...,68
4,NASA Experts Available for Interviews About Se...,"This spring, NASA’s S-MODE (Sub-Mesoscale Ocea...",64
5,NASA Announces Winners of 2023 Human Explorati...,NASA has announced the winners of the 2023 Hum...,64

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [51]:
#pongo space porque machine learning no hay

nasas = []

for m in ent:
    if 'space' in m['summary']:
        nasas.append(m['title'])

In [52]:
nasas

['NASA Sets Coverage for Dragon Port Relocation on Space Station',
 'NASA Updates Coverage of Roscosmos Spacewalks at Space Station',
 'NASA Announces Student Winners of Power to Explore Challenge']