# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [16]:
%pip install feedparser
import feedparser

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: feedparser in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (6.0.10)
Requirement already satisfied: sgmllib3k in /Users/monicaclaroscadima/Library/Python/3.9/lib/python/site-packages (from feedparser) (1.0.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

### 1. Use feedparser to parse the following RSS feed URL.

In [17]:
nasaedu = feedparser.parse('https://www.nasa.gov/rss/dyn/educationnews.rss')

In [18]:
print(nasaedu['feed'])

{'language': 'en-us', 'title': 'Education News', 'title_detail': {'type': 'text/plain', 'language': 'en', 'base': 'http://www.nasa.gov/', 'value': 'Education News'}, 'subtitle': 'A RSS feed containing the latest education related news from NASA.', 'subtitle_detail': {'type': 'text/html', 'language': 'en', 'base': 'http://www.nasa.gov/', 'value': 'A RSS feed containing the latest education related news from NASA.'}, 'links': [{'rel': 'alternate', 'type': 'text/html', 'href': 'http://www.nasa.gov/'}, {'rel': 'self', 'href': 'http://www.nasa.gov/rss/dyn/educationnews.rss', 'type': 'application/atom+xml'}], 'link': 'http://www.nasa.gov/', 'authors': [{'email': 'sandra.b.may@nasa.gov'}], 'author': 'sandra.b.may@nasa.gov', 'author_detail': {'email': 'sandra.b.may@nasa.gov'}, 'publisher': 'brian.dunbar@nasa.gov', 'publisher_detail': {'email': 'brian.dunbar@nasa.gov'}}

### 2. Obtain a list of components (keys) that are available for this feed.

In [19]:
nasaedu.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'href', 'status', 'encoding', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [20]:
nasaedu.feed.keys()

dict_keys(['language', 'title', 'title_detail', 'subtitle', 'subtitle_detail', 'links', 'link', 'authors', 'author', 'author_detail', 'publisher', 'publisher_detail'])

### 4. Extract and print the feed title, subtitle, author, and link.

In [21]:
print (nasaedu.feed.title)
print ('')
print (nasaedu.feed.subtitle)
print (nasaedu.feed.title)
print ('')
print (nasaedu.feed.subtitle)
print ('')

Education News

A RSS feed containing the latest education related news from NASA.
Education News

A RSS feed containing the latest education related news from NASA.

### 5. Count the number of entries that are contained in this RSS feed.

In [22]:
len(nasaedu.entries[0])

11

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [23]:
nasaedu.entries[0].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'summary', 'summary_detail', 'id', 'guidislink', 'published', 'published_parsed', 'source'])

### 7. Extract a list of entry titles.

In [24]:
titles = [nasaedu.entries[i].title for i in range(len(nasaedu.entries))]
print(titles)

['Pi Day Challenge: Solve Stellar Math Problems With NASA', 'NASA Solar System Ambassadors: Sharing the Science for 25 Years', 'Maryland Students, Navy Pilots to Hear from NASA Astronauts in Space', 'NASA Langley STEM Outreach Pays Dividends with Virginia Beach Schools', 'SOAR High School Student Wins NASA Armstrong Scholarship', 'NASA Langley Welcomes Virginia Teachers as Part of 2022 MODSIM Program', 'NASA Interns’ First Day at Goddard', 'NASA Administrator, STEM Partner Connect Orlando Children with Artemis', 'NASA Selects Minority-Serving Institution Proposals to Receive Support', 'NASA Administrator to Launch Artemis Learning Lunchbox Initiative']

### 8. Calculate the percentage of "Four short links" entry titles.

In [25]:
#no entiendo bien la pregunta, es que no entiendo "4 enlaces cortos" ¿hay algún parametro?

### 9. Create a Pandas data frame from the feed's entries.

In [26]:
import pandas as pd

In [27]:
nasadf = pd.DataFrame(nasaedu.entries)
nasadf.head()

,title,title_detail,links,link,summary,summary_detail,id,guidislink,published,published_parsed,source
0,Pi Day Challenge: Solve Stellar Math Problems ...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/jpl/pi-day-challen...,The agency’s Jet Propulsion Laboratory celebra...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/jpl/pi-day-challen...,False,"Thu, 09 Mar 2023 14:49 EST","(2023, 3, 9, 19, 49, 0, 3, 68, 0)",{'href': 'http://www.nasa.gov/rss/dyn/educatio...
1,NASA Solar System Ambassadors: Sharing the Sci...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/jpl/nasa-solar-sys...,"Volunteers with the program, which is managed ...","{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/jpl/nasa-solar-sys...,False,"Tue, 01 Nov 2022 14:21 EDT","(2022, 11, 1, 18, 21, 0, 1, 305, 0)",{'href': 'http://www.nasa.gov/rss/dyn/educatio...
2,"Maryland Students, Navy Pilots to Hear from NA...","{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/press-release/maryland-stu...,Pilots from the U.S. Naval Test Pilot School i...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/press-release/maryland-stu...,False,"Mon, 24 Oct 2022 11:26 EDT","(2022, 10, 24, 15, 26, 0, 0, 297, 0)",{'href': 'http://www.nasa.gov/rss/dyn/educatio...
3,NASA Langley STEM Outreach Pays Dividends with...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/langley/nasa-langl...,Students took part in a variety of activities ...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/langley/nasa-langl...,False,"Mon, 01 Aug 2022 08:48 EDT","(2022, 8, 1, 12, 48, 0, 0, 213, 0)",{'href': 'http://www.nasa.gov/rss/dyn/educatio...
4,SOAR High School Student Wins NASA Armstrong S...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/centers/armstrong/news/new...,The NASA Armstrong Employee Exchange Council p...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/centers/armstrong/news/new...,False,"Thu, 28 Jul 2022 07:45 EDT","(2022, 7, 28, 11, 45, 0, 3, 209, 0)",{'href': 'http://www.nasa.gov/rss/dyn/educatio...

In [28]:
#para tener un dato numérico voy a crear un ID en una columna a modo de entrada de dato
#nasadf['entries'] = range(1, len(nasadf) + 1)
#nasadf

### 10. Count the number of entries per author and sort them in descending order.

In [37]:
counts = nasadf['title'].value_counts().sort_values(ascending=False)
counts

title
Pi Day Challenge: Solve Stellar Math Problems With NASA                   1
NASA Solar System Ambassadors: Sharing the Science for 25 Years           1
Maryland Students, Navy Pilots to Hear from NASA Astronauts in Space      1
NASA Langley STEM Outreach Pays Dividends with Virginia Beach Schools     1
SOAR High School Student Wins NASA Armstrong Scholarship                  1
NASA Langley Welcomes Virginia Teachers as Part of 2022 MODSIM Program    1
NASA Interns’ First Day at Goddard                                        1
NASA Administrator, STEM Partner Connect Orlando Children with Artemis    1
NASA Selects Minority-Serving Institution Proposals to Receive Support    1
NASA Administrator to Launch Artemis Learning Lunchbox Initiative         1
Name: count, dtype: int64

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [38]:
nasadf['title_length'] = nasadf['title'].apply(len)
nasadf[['title', 'link', 'title_length']].sort_values('title_length', ascending=False).head()

,title,link,title_length
5,NASA Langley Welcomes Virginia Teachers as Par...,http://www.nasa.gov/feature/langley/nasa-langl...,70
7,"NASA Administrator, STEM Partner Connect Orlan...",http://www.nasa.gov/press-release/nasa-adminis...,70
8,NASA Selects Minority-Serving Institution Prop...,http://www.nasa.gov/feature/jpl/nasa-selects-m...,70
3,NASA Langley STEM Outreach Pays Dividends with...,http://www.nasa.gov/feature/langley/nasa-langl...,69
2,"Maryland Students, Navy Pilots to Hear from NA...",http://www.nasa.gov/press-release/maryland-stu...,68

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [39]:
#idem a la pregunta 8.