# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [2]:
%pip install feedparser

Collecting feedparser
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.1/81.1 kB 4.3 MB/s eta 0:00:00
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sgmllib3k
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6048 sha256=eabc61cc84b168cbdcc669e0ca4cee3674d1fd949268a00ad85f59ffdf8bfad7
  Stored in directory: /Users/JGR/Library/Caches/pip/wheels/65/7a/a7/78c287f64e401255dff4c13fdbc672fed5efbfd21c530114e1
Successfully built sgmllib3k
Installing collected packages: sgmllib3k, feedparser
Successfully installed feedparser-6.0.10 sgmllib3k-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import feedparser

### 1. Use feedparser to parse the following RSS feed URL.

In [4]:
nasa = feedparser.parse('https://www.nasa.gov/rss/dyn/mission_pages/kepler/news/kepler-newsandfeatures-RSS.rss')

In [5]:
type(nasa)

feedparser.util.FeedParserDict

### 2. Obtain a list of components (keys) that are available for this feed.

In [6]:
nasa.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'href', 'status', 'encoding', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [7]:
nasa['feed'].keys()

dict_keys(['language', 'title', 'title_detail', 'subtitle', 'subtitle_detail', 'links', 'link', 'publisher', 'publisher_detail'])

### 4. Extract and print the feed title, subtitle, author, and link.

In [8]:
print(nasa['feed']['title'])
print(nasa['feed']['subtitle'])
print(nasa['feed']['publisher'])

Kepler News and Features
Kepler News and Features RSS
brian.dunbar@nasa.gov

### 5. Count the number of entries that are contained in this RSS feed.

In [9]:
print(nasa['feed']['title'], nasa['feed']['subtitle'], nasa['feed']['link'])

Kepler News and Features Kepler News and Features RSS http://www.nasa.gov/

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [11]:
nasa['entries'][2].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'summary', 'summary_detail', 'id', 'guidislink', 'published', 'published_parsed', 'source'])

### 7. Extract a list of entry titles.

In [12]:
titles=[]
for t in nasa['entries']:
    data=t['title']
    if data not in titles:
        titles.append(data)

In [14]:
titles

["New Deep Learning Method Adds 301 Planets to Kepler's Total Count",
 'NASA’s TESS Tunes into an All-sky ‘Symphony’ of Red Giant Stars',
 'Planetary Sleuthing Finds Triple-Star World',
 'About Half of Sun-Like Stars Could Host Rocky, Potentially Habitable Planets',
 'NASA Awards SETI Institute Contract for Planetary Protection Support',
 'Gravity Assist: Puffy Planets, Powerful Telescopes, with Knicole Colon',
 'Imagining Another Earth',
 'NASA’s TESS Enables Breakthrough Study of Perplexing Stellar Pulsations',
 'AAS Names 29 NASA-Affiliated Legacy Fellows',
 'Kepler-1649c: Earth-Size, Habitable Zone Planet Hides in Plain Sight']

### 8. Calculate the percentage of "Four short links" entry titles.

In [ ]:
### no entiendo muy bien la pregunta.

### 9. Create a Pandas data frame from the feed's entries.

In [15]:
import pandas as pd

In [16]:
entries=pd.DataFrame(nasa['entries'])

In [18]:
entries.head(2)

,title,title_detail,links,link,summary,summary_detail,id,guidislink,published,published_parsed,source
0,New Deep Learning Method Adds 301 Planets to K...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/ames/new-deep-lear...,Scientists recently added a whopping 301 newly...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/ames/new-deep-lear...,False,"Mon, 22 Nov 2021 20:36 EST","(2021, 11, 23, 1, 36, 0, 1, 327, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...
1,NASA’s TESS Tunes into an All-sky ‘Symphony’ o...,"{'type': 'text/plain', 'language': 'en', 'base...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://www.nasa.gov/feature/goddard/2021/nasa-...,Using NASA’s Transiting Exoplanet Survey Satel...,"{'type': 'text/html', 'language': 'en', 'base'...",http://www.nasa.gov/feature/goddard/2021/nasa-...,False,"Wed, 04 Aug 2021 17:00 EDT","(2021, 8, 4, 21, 0, 0, 2, 216, 0)",{'href': 'http://www.nasa.gov/rss/dyn/mission_...

### 10. Count the number of entries per author and sort them in descending order.

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [19]:
entries['title_length'] = entries['title'].apply(len)
entries[['title', 'title_length']].sort_values('title_length', ascending=False).head()

                                               title  title_length
3  About Half of Sun-Like Stars Could Host Rocky,...            76
7  NASA’s TESS Enables Breakthrough Study of Perp...            71
5  Gravity Assist: Puffy Planets, Powerful Telesc...            70
4  NASA Awards SETI Institute Contract for Planet...            68
9  Kepler-1649c: Earth-Size, Habitable Zone Plane...            68

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [21]:
entries.loc[entries['summary'].str.contains('machine learning')]

Empty DataFrame
Columns: [title, title_detail, links, link, summary, summary_detail, id, guidislink, published, published_parsed, source, title_length]
Index: []